<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> LightningLord Productions </title>
    <link rel="icon" href="https://github.com/Kartik-Nagpal/Kartik-Nagpal.github.io/blob/master/Resources/Pictures/Laughing%20Skull.gif?raw=true" />

    <!-- CSS Resources -->
    <link type="text/css" rel="stylesheet" href="stylesheets.css" />
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css" crossorigin="anonymous"></link>
    <!-- End CSS Resources -->

    <!-- JS resources -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- end JS resources -->
  </head>

  <script>
    var app = angular.module("Website", []);

    app.controller("cont",  ["$scope", function($scope) {

      $scope.pages = [
        {
          name: "Home",
          id: "Home",
        },
        {
          name: "Bubbles",
          id: "Bubbles",
        },
        {
          name: "PlanetSim",
          id: "PlanetSim",
        },
        {
          name: "ANN",
          id: "ANN",
        }
      ];

      this.products = $scope.pages;

      $scope.activeTab = $scope.pages[0].id;
      $scope.changeTab = function(n) {
          var x = $scope.pages[n].id;
          $scope.activeTab = x;
      };
    }]);
  </script>



  <body style="overflow-x: hidden" ng-app="Website">
    <div class=".container-fluid" ng-controller="cont">

      <!-- Navbar Begins -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ng-click="changeTab(0)">Kartik Nagpal's Computer Science Portfolio</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-class="{'active': pages[0].name == activeTab}" ng-click="changeTab(0)"><a href="#">Home<span class="sr-only">(current)</span></a></li>
              <li ng-class="{'active': pages[1].name == activeTab}" ng-click="changeTab(1)"><a href="#Bubbles">Bubbles</a></li>
              <li ng-class="{'active': pages[2].name == activeTab}" ng-click="changeTab(2)"><a href="#PlanetSim">PlanetSim</a></li>
              <li ng-class="{'active': pages[3].name == activeTab}" ng-click="changeTab(3)"><a href="#ANN">ANN</a></li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

          </div>
        </div>
      </nav>
      <!-- Navbar End -->

      <div id="Home" ng-show="pages[0].id == activeTab">
        <div class=".container-fluid">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <h1>This website is under construction!</h1>
              <div id="sub">Check Back Soon for More!</div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>

      <div id="Bubbles" ng-show="pages[1].id == activeTab">
        <div class=".container-fluid">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="jumbotron">
                <h1>Bouncing Bubbles Animation</h1>
                <p>This is a graphical project [ADD MORE]</p>
                <p><a class="btn btn-primary btn-lg" href="https://Kartik-Nagpal.github.io/Bubbles/#1">Default Setup</a></p>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>

      <div id="PlanetSim" ng-show="pages[2].id == activeTab">
        <div class=".container-fluid">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="jumbotron">
                <h1>Planetary Simulation Animation</h1>
                <p>This is a graphical project [ADD MORE]</p>
                <p><a class="btn btn-primary btn-lg" href="https://Kartik-Nagpal.github.io/PlanetSim/">Default Setup</a></p>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>

      <div id="ANN" ng-show="pages[3].id == activeTab">
        <div class=".container-fluid">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="jumbotron">
                <h1>Artificial Neural Network</h1>
                <p>This is a graphical project [ADD MORE]</p>
                <p><a class="btn btn-primary btn-lg" href="https://Kartik-Nagpal.github.io/ANN/">Default Setup</a></p>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>

    </div>



      <!--Bouncing Bubbles Animation        https://Kartik-Nagpal.github.io/Bubbles/-->
  	  <!--Planetary Simulation Animation     https://Kartik-Nagpal.github.io/PlanetSim/-->
      <!--Artificial Neural Network          https://Kartik-Nagpal.github.io/ANN/-->
  </body>
</html>
