<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kartik's CS Portfolio</title>
    <link rel="icon" href="./Resources/Laughing%20Skull.gif?raw=true"/>

    <!-- CSS Resources -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css" crossorigin="anonymous"></link>
    <!-- End CSS Resources -->

    <!-- JS resources -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- end JS resources -->
  </head>

  <script>
    var app = angular.module("Website", []);

    app.controller("cont",  ["$scope", function($scope) {

      $scope.pages = [
        {
          name: "Home",
          id: "Home",
        },
        {
          name: "Bubbles",
          id: "Bubbles",
        },
        {
          name: "PlanetSim",
          id: "PlanetSim",
        },
        {
          name: "CSHL1",
          id: "CSHL1",
        },
        {
          name: "Charter",
          id: "Charter",
        },
        {
          name: "CompSciHL",
          id: "CompSciHL",
        },
        {
          name: "ChangeLog",
          id: "ChangeLog",
        }
      ];

      this.products = $scope.pages;

      var q = (window.location.href).split("#");
      if(q.length > 1 && q[1] != "")
      {
        $scope.activeTab = q[1];
      }
      else {
        $scope.activeTab = $scope.pages[0].id;
      }
      $scope.changeTab = function(n) {
          var x = $scope.pages[n].id;
          $scope.activeTab = x;
      };
    }]);

    function LinkCreate() {
      var link = "https://kartik-nagpal.github.io/Bubbles/#"
      var num = $("#Shape").val();
      var text = $("#message").val();
      //console.log(link + num + "!" + text);
      window.location.replace(link + num + "!" + text);
   }
  </script>


  <body style="overflow-x: hidden" ng-app="Website">
    <div class=".container-fluid" ng-controller="cont">

      <!-- Navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ng-click="changeTab(0)">Kartik Nagpal's Computer Science Portfolio</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-class="{'active': pages[0].name == activeTab}" ng-click="changeTab(0)"><a href="#">Home<span class="sr-only">(current)</span></a></li>
              <li ng-class="{'active': pages[5].name == activeTab}" ng-click="changeTab(5)"><a href="#CompSciHL">Comp Sci HL II Portfolio</a></li>
              <li ng-class="{'active': pages[3].name == activeTab}" ng-click="changeTab(3)"><a href="#CSHL1">Comp Sci HL I</a></li>
              <li ng-class="{'active': pages[2].name == activeTab}" ng-click="changeTab(2)"><a href="#PlanetSim">PlanetSim</a></li>
              <li ng-class="{'active': pages[1].name == activeTab}" ng-click="changeTab(1)"><a href="#Bubbles">Bubbles</a></li>
              <li ng-class="{'active': pages[4].name == activeTab}" ng-click="changeTab(4)"><a href="#Charter">Charter</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->


      <!-- Pages -->
      <div id="Home" ng-show="pages[0].id == activeTab">
        <div class=".container-fluid">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <h1 style="text-align: center;">This is a growing website!</h1>
              <div id="sub" style="text-align: center; color: #892f25;">Check back often to find More and More!</div>
              <br>
              <div class="panel panel-default">
                 <div class="panel-heading">Basic Information:</div>
                 <div class="panel-body">
                    <a class="btn btn-primary btn-lg" href="https://github.com/Kartik-Nagpal">Github Page</a>
                    <a class="btn btn-primary btn-lg" href="https://sites.google.com/roundrockisd.org/nagpal-portfolio/home">Engineering Portfolio</a>
                    <a class="btn btn-primary btn-lg" href="https://docs.google.com/document/d/1hC59AqGjmgJbpAFagdEYjd5di1vPAtSf97bwGv5tzy8/edit?usp=sharing"> Resume</a>
                 </div>
               </div>
               <br>
               <div class="panel panel-danger">
                 <div class="panel-heading">
                   <h3 class="panel-title" style="text-align: center"><b>As a tribute to my web design abilities, I have made this website from scratch (with the help of some common Javascript libraries).</b></h3>
                 </div>
               </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>


      <div id="Bubbles" ng-show="pages[1].id == activeTab">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>Bouncing Bubbles Animation</h1>
                <p>This is a graphical project which takes a selection of text and makes it into a large number of "bouncing bubbles" which can display using circular, square, triangle, cross, or hexagonal shapes.</p>
                <p><a class="btn btn-primary btn-lg" href="https://Kartik-Nagpal.github.io/Bubbles/#1">Default Setup</a></p>
              </div>

              <div class="well">
                <form class="form-horizontal">
                  <fieldset>
                    <legend>Custom Link Creator</legend>
                    <div class="form-group">
                      <label for="Shape" class="col-lg-2 control-label">Shape</label>
                      <div class="col-lg-10">
                        <select class="form-control" id="Shape">
                         <option value="1">Choose One</option>
                         <option value="1">Circle</option>
                         <option value="2">Square</option>
                         <option value="3">Triangle</option>
                         <option value="4">Hexagon</option>
                         <option value="5">Cross</option>
                       </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="Text" class="col-lg-2 control-label">Text</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="message" placeholder="Hello There">
                      </div>
                    </div>
                    <div class="form-group">
                     <div class="col-lg-10 col-lg-offset-2">
                       <button type="reset" class="btn btn-default">Cancel</button>
                       <button type="button" class="btn btn-primary" onclick="LinkCreate()">Submit</button>
                     </div>
                   </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="PlanetSim" ng-show="pages[2].id == activeTab">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>Planetary Simulation Animation</h1>
                <p>One of my first Web Projects, which I've ported over. This project creates a simulation of the Solar System, using mostly CSS, even for the animations. DUE TO FORMATTING PROBLEMS, PLEASE ZOOM OUT TO 33%</p>
                <p><a class="btn btn-primary btn-lg" href="https://Kartik-Nagpal.github.io/PlanetSim/">Launch Simulation</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div id="CSHL1" ng-show="pages[3].id == activeTab">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="jumbotron">
                <div style="text-align: center">
                   <h2 style="font-size: 400%">IB Computer Science HL I</h2>
                   <h3>2016-2017</h3>
                </div><br>
                <br>
                <p>Here I’ve created an artificial neural network with the shape [784, 200, 10] and trained off the MNIST database for handwritten digits. By adapting this project to this website, I am able to allow anyone to draw a digit, which my Neural Network can try to decode and better understand.</p>
                <p>
                   <a class="btn btn-primary btn-lg" href="https://Kartik-Nagpal.github.io/Javascript-ANN/">Launch Experiment</a>
                   <a class="btn btn-primary btn-lg" href="https://docs.google.com/a/roundrockisd.org/document/d/1Bd5jgwZejg9uWw9AGrAIcfW2qIz8j5o97Ko3UnRImHM/edit?usp=sharing">Essay on Creation and Research</a>
                   <a class="btn btn-primary btn-lg" href="https://github.com/Kartik-Nagpal/Javascript-ANN">Github Repo</a>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
             <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        Google Drive Folder
                        <p style="float: right"><a target="_blank" title="Open Drive Folder, NEURAL NETWORKS" href="https://docs.google.com/folderview?authuser=0&id=0B0L7pmQC-dxDLTlqUkdRV3JUd0E">Expand</a></p>
                     </h3>
                   </div>
                   <div class="panel-body">
                      <div style="overflow: hidden;">
                        <div style="background-color: #FFFFFF">
                           <iframe style="width:100%; padding:0; border:0; height: 500px" onload="this.setAttribute('data-iframe-loaded', true)" frameborder="0" aria-label="Drive Folder, NEURAL NETWORKS" src="https://drive.google.com/embeddedfolderview?authuser=0&id=0B0L7pmQC-dxDLTlqUkdRV3JUd0E#list"></iframe>
                        </div>
                      </div>
                   </div>
               </div>
             </div>
          </div>
          <!-- End of Last Row -->
        </div>
      </div>


      <div id="Charter" ng-show="pages[4].id == activeTab">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>The Charter Project</h1>
                <p>Short for "Chart Maker", the Charter project is meant to be a quick and painless way to create many different types of plots and charts right on you browser. It is currently still in creation and doesn't have many working options. As of now, only the Cloreopleth map works.</p>
                <p><a class="btn btn-primary btn-lg" href="https://Kartik-Nagpal.github.io/Charter/">Launch Experiment</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div id="Comp Sci HL II Portfolio" ng-show="pages[5].id == activeTab">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="jumbotron">
                <div style="text-align: center">
                  <h2 style="font-size: 400%">IB Computer Science HL II Portfolio</h2>
                  <h3>2017-2018</h3>
                </div><br>
                <p>This year for Computer Science, I will be creating an esoteric programming language. I will be combining the basics of Compiler Design with Crytpography, so that the code will be encrypted from the point that the user submits it to the point that it is literally machine code.</p>
                <p>
                   <a class="btn btn-primary btn-lg" ng-click="changeTab(6)" href="#ChangeLog">Change Log</a>
                   <a class="btn btn-primary btn-lg" href="https://docs.google.com/spreadsheets/d/1EGWw2MDHKVuoLT9Xx_EOyX3Gn92R5e1ZfSwzWpAHVyM/edit?usp=sharing">Work Log</a>
                   <a class="btn btn-primary btn-lg" href="https://github.com/Kartik-Nagpal/CryptoSpeach">Github Repo</a>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
             <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        Google Drive Folder
                        <p style="float: right"><a target="_blank" title="Open Drive Folder, CRYPTOSPEACH" href="https://docs.google.com/folderview?authuser=0&amp;id=0B0L7pmQC-dxDLU51Ry1sU1RibW8">Expand</a></p>
                     </h3>
                   </div>
                   <div class="panel-body">
                      <div style="overflow: hidden;">
                        <div style="background-color: #FFFFFF">
                           <iframe style="width:100%; padding:0; border:0; height: 500px" onload="this.setAttribute('data-iframe-loaded', true)" frameborder="0" aria-label="Drive Folder, CRYPTOSPEACH" src="https://drive.google.com/embeddedfolderview?authuser=0&amp;id=0B0L7pmQC-dxDLU51Ry1sU1RibW8#list"></iframe>
                        </div>
                      </div>
                   </div>
               </div>
             </div>
          </div>
          <!-- End of Last Row -->
        </div>
      </div>


      <div id="ChangeLog" ng-show="pages[6].id == activeTab">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>ChangeLog</h1>
                <p>This is a log of all changes made to my Portfolio over the course of IB Computer Science HL II</p>
                <p><h5>A slightly more detailed ChangeLog can be found <a href="https://github.com/Kartik-Nagpal/Kartik-Nagpal.github.io/commits/master">here</a>, however this changelog also includes the rest of the changes I've made to this website.</h5></p>

                <div class="well">
                  <h4>8/30/2017</h4>
                  <div class="list">
                    <ul>
                      <li>Added Work Log link</li>
                      <li>Merged the "experimental" branch with the "master" and thus:</li>
                      <ul style="list-style-type:square">
                        <li>Publish the "IB Computer Science HL II Portfolio" tab</li>
                        <li>Add this Un-anchored ChangeLog page</li>
                      </ul>
                      <li>Added short expository</li>
                    </ul>
                  </div>
                </div>

                <div class="well">
                  <h4>9/4/2017</h4>
                  <div class="list">
                    <ul>
                      <li>Updated Work Log link</li>
                      <li>Tweaked "IB Computer Science HL II Portfolio" tab description</li>
                      <li>Changed ChangeLog formatting</li>
                    </ul>
                  </div>
                </div>

                <div class="well">
                  <h4>9/26/2017</h4>
                  <div class="list">
                    <ul>
                      <li>Added a link to the Github Repo</li>
                      <ul style="list-style-type:square">
                        <li>Added more files and code to this section</li>
                        <li>Made the Repository public so I could add it to this Portfolio</li>
                      </ul>
                      <li>Embeded the Google Drive folder for this Project</li>
                      <li>Fixed up a series of formatting and spelling errors</li>
                    </ul>
                  </div>
                </div>

                <div class="well">
                  <h4>10/11/2017</h4>
                  <div class="list">
                    <ul>
                      <li>Made <a href="https://github.com/Kartik-Nagpal/CryptoSpeach/commits/master">changes</a> to Github Repo</li>
                      <li>Added and Codefied all of my <a href="https://docs.google.com/document/d/1MHq5L56CIQVuy-fueodx5wxgTgPzwxlRKcJ_kkkzm1M/edit?usp=sharing">Research Resources</a>, and added them to my Google Drive Folder</li>
                    </ul>
                  </div>
                </div>

                <div class="well">
                  <h4>11/7/2017</h4>
                  <div class="list">
                    <ul>
                      <li>Made <a href="https://github.com/Kartik-Nagpal/CryptoSpeach/commits/master">changes</a> to Github Repo</li>
                      <li>Added a CS HL I page to the website</li>
                      <li>Filled up the <a href="https://github.com/Kartik-Nagpal/CryptoSpeach/blob/master/Scanner.flex">Flex file</a> and ran some builds of the program, for the presentation.</li>
                      <li>Read through and marked a large portion of <a href="https://docs.google.com/document/d/1MHq5L56CIQVuy-fueodx5wxgTgPzwxlRKcJ_kkkzm1M/edit?usp=sharing">Research Resources</a></li>
                    </ul>
                  </div>
                </div>
                <!-- Add more to the ChangeLog Here -->

              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End Pages -->

    </div><!-- Fluid Container -->

      <!--Bouncing Bubbles Animation        https://Kartik-Nagpal.github.io/Bubbles/-->
  	   <!--Planetary Simulation Animation     https://Kartik-Nagpal.github.io/PlanetSim/-->
      <!--Artificial Neural Network          https://Kartik-Nagpal.github.io/ANN/-->
  </body>
</html>
